/* =======================================
    DESTINATION SECTION

    layout and styling for destination 
    section
========================================== */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* Destination section layout */
.destination {
    @include section-base;
    @include background-cover;

    /* Background image for villa destination section */
    &--villa {
        background-image: url(../assets/images/destination-spain-villa.webp);
    }

    /* Background image for coast destination section */
    &--coast {
        background-image: url(../assets/images/destination-spain-coast.webp);
    }

    /* Inner container for destination content */
    &__inner {
        width: 100%;
        display: grid;
        gap: $spacing-2xl;
        padding-block: $spacing-2xl;
    }
}

/* Responsive adjustments for destination layout (Tablet) */
@include tablet {
    .destination {
        min-height: 32rem;
        display: grid;
        align-items: center;
        padding-inline: $spacing-xl;

        /* 8-column grid layout for destination content */
        &__inner {
            grid-template-columns: repeat(8, 1fr);
            gap: $spacing-md;

            &--villa {
                padding-left: $spacing-md;
            }

            &--coast {
                padding-right: $spacing-md;
            }
        }
    }
}

/* Responsive adjustments for destination layout (Desktop) */
@include desktop {
    .destination {
        min-height: 48rem;
        padding-inline: 0;
        grid-template-rows: repeat(3, 1fr);

        /* 12-column grid layout for destination content */
        &__inner {
            @include section-container;
            padding-inline: $spacing-xl;
            grid-template-columns: repeat(12, 1fr);
            column-gap: $spacing-xl;
            grid-row: 2 / span 2;
        }
    }
}