/* =======================================
    HEADER SECTION

    Layout and styling for header section
========================================== */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* Header bar layout */
.site-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding-block: $spacing-sm;
    background-color: $color-brand-primary;

    /* Inner container for header content */
    &__inner {
        @include section-base;
        margin-inline: auto;
    }
}

/* Responsive adjustments for header layout (Tablet) */
@include tablet {
    .site-header {
        padding-block: 14px;

        &__inner {
            padding-inline: $spacing-xl;
        }
    }
}

/* Responsive adjustments for header layout (Desktop) */
@include desktop {
    .site-header {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(100vh - 4rem);
        min-height: 4rem;
        height: 4rem;
        padding-block: $spacing-xs;

        &__inner {
            @include section-container;
        }
    }
}