/* =======================================
    NAVIGATION SECTION

    Layout and styling for navigation 
    section
========================================== */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* Navigation menu layout */
.site-nav {
    width: 100%;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /* Brand logo */
    &__logo {
        font-size: clamp(1.125rem, 1.036rem + 0.446vw, 1.25rem);
        line-height: 1.2;
        letter-spacing: 0.08rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    /* Navigation list (hidden by default) */
    &__list {
        display: none;
        list-style-type: none;
    }

    /* Navigation item */
    &__item {
        width: 100%;
        padding-block: $spacing-xs;
        text-align: center;
    }

    /* Navigation link */
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 3rem;
        padding-inline: $spacing-xs;
        font-family: $font-secondary;
        font-size: clamp(0.875rem, 0.786rem + 0.446vw, 1rem);
        line-height: 1.5;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
    }

    /* Overlay menu (mobile and tablet) */
    &.menu .site-nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        left: 0;
        top: 3.5rem;
        min-height: calc(100vh - 3.5rem);
        border-top: 1.5px solid $color-border-dark;
        background-color: $color-menu-overlay;
        backdrop-filter: blur(10px);
    }

    /* Link item feedback (mobile and tablet) */
    &.menu .site-nav__item {
        transition:
            transform $transition-default,
            opacity $transition-default,
            background-color $transition-default;
    }

    /* Link item active state (mobile and tablet) */
    &.menu .site-nav__item:active {
        transform: scale(1.05);
        opacity: 0.9;
        background-color: $color-menu-feedback;
    }
}

/* Responsive adjustments for navigation layout (Tablet) */
@include tablet {
    .site-nav__logo {
        font-size: clamp(1.25rem, 0.806rem + 0.926vw, 1.5rem);
        line-height: 1.15;
        letter-spacing: 0.12rem;
    }

    .site-nav__link {
        min-height: 3.25rem;
        padding-inline: $spacing-xs;
        font-size: clamp(1rem, 1.222rem + -0.463vw, 0.875rem);
        line-height: 1.6;
    }
}