/* =======================================
    BASE

    Base layout and styles
========================================== */

/* Main page wrapper */
.page {
    min-height: 100vh;
    min-width: 20rem;
    overflow-x: hidden;
}