/* ================================
    VARIABLES

    Shared style tokens
=================================== */

/* ---------------------------
    BASE COLORS
------------------------------ */

$color-brand-primary: #5474FD;
$color-brand-secondary: #496BFE;

$color-white: #FFFFFF;
$color-off-white: #FEFEFE;
$color-light-gray: #E8E8E8;
$color-medium-gray: #999999;
$color-charcoal: #232323;
$color-soft-black: #333333;
$color-red: #FF6363;
$color-blue: #00A2FF;


/* ---------------------------
    TRANSPARENT COLORS
------------------------------ */

$color-page-overlay: rgba(0, 0, 0, 0.01);
$color-menu-overlay: rgba(84, 116, 253, 0.7);
$color-menu-feedback: rgba(255, 255, 255, 0.12);
$color-card-overlay-dark: rgba(35, 35, 35, 0.9);
$color-shadow-dark: rgba(35, 35, 35, 0.25);
$color-shadow-light: rgba(255, 255, 255, 0.35);
$color-border-dark: rgba(35, 35, 35, 0.4);
$color-arch-light: rgba(255, 255, 255, 0.5);


/* ---------------------------
    TEXT COLORS
------------------------------ */

$color-text-primary: $color-white;
$color-text-secondary: $color-light-gray;
$color-text-tertiary: $color-off-white;
$color-text-dark: $color-charcoal;
$color-text-muted: $color-medium-gray;

/* ---------------------------
    TYPOGRAPHY
------------------------------ */

$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Aleo", serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

/* ---------------------------
    BREAKPOINTS
------------------------------ */

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 75rem;

/* ---------------------------
    SPACING
------------------------------ */

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 40px;
$spacing-3xl: 48px;